body {
    padding: 20px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: white;
    font-family: "roboto";
   
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box {
    width: 100%;
    max-width: 480px;
    background-color: rgba(red, green, blue, alpha);
    backdrop-filter: 30;
    border-radius: 16px;
    backdrop-filter: 30px;
    padding: 20px;
}
h1 {
    color: rgb(44, 43, 43);
    font-size: 40px;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
}
input {
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    border: solid #ccc 1px;
    
}
button {
   height: 40px;
   background: #37338c;
   border: solid #ccc 1px;
   font-size: 20px;
   border-radius: 10px;
   color: white;
   
}

.loginOptions{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;

}
.google {
    display: flex;
    border: solid rgb(103, 99, 99);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;

}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h2 {
    width: 300px;
    max-width: 480px;
    height: 550px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-radius: 40px 0 0 40px;
    color: white;
    background-color: #37338c 
}
 
