*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1{
    font-size: 3em;
    color: #263238;
}

h2{
    font-size: 2em;
    line-height: 1.5;
    color: #263238;
}

h3{
    color: #263238;
}

p{
    color: #717171;
    line-height: 1.5;
}

.black{
    color: #0F1125;
}

.bg{
    position: relative;
    overflow: hidden;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(bg.svg) no-repeat center center/cover;
    z-index: 0;
    opacity: 0.8;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7%;
    line-height: 1.5;
    max-width: 100vw; 
    z-index: 1000;
    position: relative;
}

.nav .navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav ul li{
    list-style: none;  
}

.navbar a{
    font-size: 17px;
    color: #263238;
    text-decoration: none;
    padding: 5px 17px;
    position: relative;
}

a:active{
    color: black;
    text-decoration: none;
}

.navbar a::after{
    content: '';
    color: #37338C;
    background: #37338C;
    height: 3px;
    bottom: -3px;
    position: absolute;
    width: 0;
    transition: 0.4s ease-in-out;
    left: 0;
}

.navbar a:hover::after{
    width: 100%;
}

.navbar a:hover{
    color: #0F1125;
}

button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 300ms ease-out;
    margin: 5px 0;
}

.download{
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.menu{
    display: none;
    width: 24px;
}

.main{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    line-height: 1.5;
    max-width: 100vw;
    gap: 50px;
    z-index: 1;
    position: relative;
}

.image{
    width: 60%;
}

.image img{
    width: 100%;
    padding-top: 30px;
}

.span{
    color: #37338C;
}

.writeup{
    text-align: left;
    width: 40%;
}

.taskr{
    padding: 10px 7%;
    max-width: 100vw;
    z-index: 1;
    position: relative;
}

.taskrUse{
    text-align: center;
    line-height: 1.4;  
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    justify-content: center;
    gap: 50px;
    border-radius: 7px; 
    margin-top: 20px;
}

.taskrImportance{
    text-align: center;
    width: 299px;
    box-shadow: 0 2px 12px  #ABBED14D;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
}

.taskrImportance img{
    width: 64px;
    height: 56px;
}

.contact{
    min-height: 400px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F5F7FA;
    max-width: 100vw;
    padding: 0 7%;
}

.contact h2{
    position: relative;
}

.contact h2::after{
    content: '';
    height: 3px;
    bottom: -4px;
    background: #37338C;
    width: 75%;
    position: absolute;
    left: 12%;
}

.contact p{
    width: 400px;
}

.waitlist{
    padding: 50px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    max-width: 100vw;
    gap: 50px;
}

.jpg{
    width: 50%;
}

.jpg img{
    width: 100%;
}

.launch{
    width: 40%;
}

.testimonial{
    padding: 50px 7%;
    max-width: 100vw;
}

.testi h2{
    text-align: center;
}

.testimony{
    box-shadow: 0 2px 12px  #ABBED14D;
    text-align: left;
    border-radius: 8px;
    padding: 10px 20px;
    line-height: 1.4;
}

.rating{
    display: flex;
    justify-content: space-between;
}

.rate{
    height: 24px;
    width: 128px;
}

.low{
    opacity: 1;
    border: none;
    height: 1px;
    width: 70%;
    background: #E9EFF5;
    margin: 1em 0;
}

.testiCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-content: space-between;
}

footer{
   /* display: grid;
    grid-template-columns: repeat(3, 1fr);*/
    display: flex;
    justify-content: space-between;
    background: #263238;
    padding: 50px 7%;
    color:white;
    line-height: 1.5;
    max-width: 100vw;
}

.company{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

footer li{
    list-style: none;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

footer li a:hover{
    color: #37338C;
}

footer h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

footer .icon{
    display: flex;
    gap: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.icon i, .icon img{
    border-radius: 50%;
    padding: 4px;
    background: #4D4D4D;
}

.icon img:hover, .icon i:hover{
    background: #37338C;
}

footer h3{
    margin: 0 0 10px 0;
}

footer .input{
    background: #89939E;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

footer input{
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

footer a, footer h3{
    color: white;
    text-decoration: none;
}

footer ::-webkit-input-placeholder{
    color: white;
}

/*contact page*/
.contactUs{
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
}

.contactUs .form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactUs .logo{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: left;
    width: 400px;
    height: 70vh;
}

.form h3{
    text-align: left;
    margin-bottom: 20px;
}

.form form input, .form form textarea{
    margin-bottom: 20px;
    padding: 10px;
    width: 90%;
}

.formheader{
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.formhead{
 align-self: center;
 padding-top: 20px;
}

.taskrpage{
    width: 100%;
    max-width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.taskrpage img{
    width: 100%;
    height: 100%;
}

textarea{
    resize: none;
}

input[type="submit"] {
    background: #37338C;
    color: white;
    border: none;
    outline: none;
    border-radius: 7px;
    align-items: center;
    max-width: 100%;
}
.taskrpage i{
    font-size: 3em;
}

@media (max-width:1200px){
    header{
        padding: 5px 6%;
    }

    .main{
        padding: 0 6%;
    }

    .waitlist, .testimonial, footer{
        padding: 50px 6%;
    }

    .taskr, .contact{
        padding: 10px 6%;
    }

    .taskrImportance{
        width: 270px;
    }
}

@media (max-width:1024px){
    h1{
        font-size: 2em;
    }
    
    h2{
        font-size: 1.5em;
    }

    header i{
        font-size: 1.5em;
    }

    header{
        padding: 5px 4%;
    }

    .main{
        padding: 0 4%;
    }

    .waitlist, .testimonial, footer{
        padding: 50px 4%;
    }

    .taskr, .contact{
        padding: 10px 4%;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (3, 1fr);
    }

    .taskrImportance{
        width: 299px;
    }

    .formheader .nav a{
    padding: 5px 10px;
    }

    .formheader .nav a{
        font-size: 14px;
    }
}

@media (max-width:928px){
    .nav ul li{
    padding: 5px 14px;
    }

    .nav a{
        font-size: 14px;
    }

    header{
        padding: 5px 3%;
    }

    .main{
        padding: 0 3%;
    }

    .waitlist, .testimonial, footer{
        padding: 50px 3%;
        margin: 0;
    }

    .taskr, .formheader, .taskrpage{
        padding: 10px 3%;
        margin: 0;
    }

    .contact{
        padding: 0 3%;
    }

    button{
        padding: 10px 12px;
    }

    .taskrpage{
        display: none;
    }

    .contactUs .logo{
        display: flex;
        align-self: center;
    }

    .formheader{
        max-width: 100%;
    }

    .contactUs{
        height: 70vh;
    }

    .formheader .nav{
        display: none;
    }
}

@media (max-width:746px){
    .grid, .testiCard{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .main{
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 0;
        justify-content: center;
    }

    .menu{
        display: flex;
    }

    .image img{
        padding-top: 0;
    }

    .image{
        width: 100%;
        margin-top: 40px;
    }

    .waitlist{
        flex-direction: column-reverse;
    }
    
    .jpg{
    width: 100%;
    }

    .launch{
        width: 100%;
    }

    .writeup{
        width: 100%;
        align-items: center;
    }

    .nav .navbar{
        flex-direction: column;
        top: 100%;
        right: 100%;
        position: absolute;
        background: #37338C;
        border-radius: 8px;
        padding-bottom: 200px;
        margin-right: 3%;
        transition: all 0.4s ease-in-out;
        z-index: 1000;
    }

   .nav .navbar.active{
        right: 0;
        z-index: 1000;
    }

    .navbar a{
        padding: 10px 200px 10px 10px;
        display: block;
        color: white;
        border-bottom: 1px solid white;
        transition:all 2s ease-in-out;
    }

    .navbar a:hover::after{
        width: 0;
    }

    .navbar a:hover{
        font-size: 20px;
    }

    .navbar .span{
        color: white;
    }

    footer{/*
        grid-template-columns: repeat(2, 1fr);*/
        flex-direction: column-reverse;
        gap: 20px;
    }

    .Copyright{/*
        grid-row-start: 3;
        justify-content: center;
        grid-column: 1 / -1;
        grid-row: 2;*/
        justify-self: center;
        text-align: center;
    }

    .contact p{
    width: 300px;
}

    /*contact page*/
    .contactUs{
        height: 70vh;
        align-items: start;
    }

    .form{
        max-width: 100vw;
        height: 90vh;
        padding: 0 3%;
        justify-content: flex-start;
    }

    footer .icon{
        justify-content: center;
    }

    .form form{
        max-width: 100%;
    }   
}

@media (max-width:500px){
    .download a img{
        width: 140px;
    }

    .contact .download{
        justify-content: center;
    }

    .form{
        width: 300px;
    }

    .contact p{
    width: 280px;
}
}

@media (max-height:790px){
    .main{
        min-height: 100vh;
    }
}




